/* ========== import font source ========== */
@import "fonts.css";

/* ========== import custom styles ========== */
@import "custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }
  .container {
    @apply max-w-[1112px] mx-auto px-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  h1 {
    @apply text-6xl sm:text-8xl main-heading;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  p,
  li,
  a {
    @apply font-inter text-dark-gray;
  }
  .footer-icons {
    @apply dark:text-light flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center;
  }

  /* Scroll down */
  html {
    scroll-behavior: smooth;
   }

   .button-custom {
    padding: 10px 40px;
    border-radius: 100px;
    background-color: #8356ff;
    background-image: -webkit-gradient(linear, left top, right top, from(#9969ff), to(#6139ff));
    background-image: linear-gradient(90deg, #9969ff, #6139ff);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Colfax, sans-serif;
    font-size: 19px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
  }
  
  .w-button {
    display: inline-block;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
    input.w-button {
      -webkit-appearance: button;
    }
   
}
