---
import { info } from '@data';

import ProjectsWrapper from '@components/general/ProjectsWrapper.astro';
import Experience from '@components/home/Experience.astro';
import Project from '@components/home/Project.astro';
import MetaHead from '@components/general/MetaHead.astro';
import Layout from '@layouts/Layout.astro';
const Projects = info.professionalprojects.map((project) => project);
---

<!doctype html>
<html lang='en'>
	<head>
		<MetaHead
			title={'Professional Experience & Project'}
			description={'All projects are available in this page.'}
			ogImageUrl={'/william-portfolio-old/assets/images/portfolio-logo.png'}
		/>
	</head>

	<body>
		<Layout>
			<h1 style='line-height: 1.2; font-size: 4rem;'>
				Professional Experiences & Projects
			</h1>
			<section>
				<h3
					class='py-2 dark:text-light text-3xl font-bold'
					style='line-height: 1.2; font-size: 2rem;'
				>
					Picnet
				</h3>
				<p class='dark:text-light'>
					I am currently employed as an junior engineer at Picnet, an IT service
					and consulting firm whose clients include some of Australia's largest
					businesses and household names in the corporate and public sectors.
				</p>
			</section>
			<Project details={info.picnet} />
			<section>
				<h3
					class='py-2 dark:text-light text-3xl font-bold'
					style='line-height: 1.2; font-size: 2rem;'
				>
					Benevolence Financial Group
				</h3>
				<p class='dark:text-light'>
					Benevolence Financial Group (BFG) is a social enterprise mortgage and
					finance brokerage firm which utilises technology to automate the
					process of applying for a loan.
				</p>
			</section>
			<Project details={info.bfg} />
			<ProjectsWrapper projects={Projects} />
		</Layout>
	</body>
</html>
