---
import { info } from '@data';

import ProjectsWrapper from '@components/general/ProjectsWrapper.astro';
import MetaHead from '@components/general/MetaHead.astro';
import Layout from '@layouts/Layout.astro';

const Projects = info.academicprojects.map((project) => project);
---

<!doctype html>
<html lang='en'>
	<head>
		<MetaHead
			title={'Projects'}
			description={'All projects are available in this page.'}
			ogImageUrl={'/william-portfolio-old/assets/images/portfolio-logo.png'}
		/>
	</head>

	<body>
		<Layout>
			<h1 style='line-height: 1.2;'>Projects</h1>
			<ProjectsWrapper projects={Projects} />
		</Layout>
	</body>
</html>
