---
import { info } from "@data";

import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

---


<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Research"}
      description={""}
      ogImageUrl={"/assets/images/portfolio-logo.png"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2; font-size: 4rem;">Research</h1>
      <section>
        <h3 class="py-2 dark:text-light text-3xl font-bold" style="line-height: 1.2; font-size: 2rem;" id="skill">Face Mask Detecting Using Artificial Intelligence, Machine Learning and Computer Vision</h3>
        <p class="dark:text-light">For my final capstone project, I have decided my research on face mask detection using Artificial Intelligence and Machine Learning. As Covid-19 has halted the world causing an impact on more than 603 million people and casualties in almost 7 million deaths. The purpose of my research on face mask detection systems is to counteract the transmission of the virus through the implementation of advanced artificial intelligence technology to reduce transmission. The research capstone project explores the current obstructions within today’s society that are currently preventing the implementation of face mask detection technology, as well as the numerous object detection algorithms which can be utilised to detect face masks within individuals quick and precisely.</p>
      </section>

    </Layout>
  </body>
</html>