---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <h2 class="dark:text-light mt-[117px] title">Hey, I’m</h2>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>
</section>

<style>
  .title {
    font-size: 3rem;
  }
</style>
